@tailwind base;

@tailwind components;

body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

/* Global Start */
.section-heading {
  transform: translateX(-50%);
  @apply font-bold text-white text-base absolute left-1/2;
}

.section-heading h1 {
  @apply whitespace-no-wrap tracking-extra1;
}

.color-white {
  color: #ffffff !important;
}

/* Global End */

/* Navbar Start */

.nav-item {
  @apply py-2 px-0 block border-b-2 text-white border-transparent;
}

.nav-item:hover {
  @apply border-white;
}

#sidenav {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

#sidenav.open {
  transform: translateX(0%);
}

/* Navbar End */

/* SideNav Start */

.sidenav-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @apply w-full bg-transparent text-white flex flex-col justify-between items-center cursor-pointer;
}

.sidenav-item a,
.sidenav-item button {
  @apply w-full flex items-center px-6 py-2;
}

.sidenav-item a:hover,
.sidenav-item button:hover {
  @apply bg-theme_black-200;
}

.sidenav-item__dropdown {
  transition: max-height 300ms;
  @apply w-full text-white bg-theme_black-300 font-hairline font-roboto overflow-hidden  max-h-0 ease-in-out;
}

.sidenav-item__dropdown button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @apply py-2 w-full block pl-10 text-left text-sm text-gray-200;
}

.sidenav-item__dropdown button:hover {
  @apply bg-theme_black-400;
}

.sidenav-item:target .smenu {
  max-height: 20em;
}

/* SideNav End */

/* Header Start */
.cta {
  @apply px-4 py-2 whitespace-no-wrap rounded-full bg-theme_red-100 text-white cursor-pointer no-underline text-xs font-light;
}
/* Header End */

/* About Start */

.about-item {
  @apply w-full h-56 px-4 justify-center flex flex-col items-center;
}

.about-item__logo-container {
  @apply w-20 h-20 rounded-full flex justify-center items-center relative;
}

.about-item__logo-svg {
  color: #cc2b5e;
  @apply text-3xl;
}

.about-item__content-container {
  @apply flex flex-col mt-2 items-center py-0 h-auto min-h-20;
}

.about-item__content-container h1 {
  @apply text-2xl m-0 text-center;
}

.about-item__content-container p {
  @apply font-light text-xs mt-2 text-center;
}

/* About End */

@screen md {
  /* Global Start */
  .section-heading {
    transform: translateX(0%);
    @apply left-auto right-28 text-4xl;
  }

  .section-heading h1 {
    @apply tracking-extra2;
  }
  /* Global End */

  /* Header Start */
  .cta {
    @apply px-8 py-2;
  }
  /* Header End */

  /* About Start */
  .about-item {
    @apply px-24 flex-row justify-start;
  }

  .about-item__logo-container {
    @apply h-24 w-24;
  }

  .about-item__logo-svg {
    @apply text-5xl;
  }

  .about-item__content-container {
    @apply ml-16 items-start mt-0;
  }

  .about-item__content-container h1 {
    @apply text-left;
  }
  .about-item__content-container p {
    @apply text-sm mt-4 text-left;
  }
  /* About End */
}

@screen lg {
  /* Global Start */
  .section-heading {
    @apply right-40 text-6xl tracking-widest;
  }

  .section-heading h1 {
    @apply tracking-extra3;
  }
  /* Global End */
  /* Navbar Start */
  .nav-item {
    @apply .pt-2 .px-8;
  }

  /* Navbar End */

  /* Header Start */

  /* .cta {
    @apply px-8 py-2 rounded-full bg-theme_red-100 text-white cursor-pointer no-underline text-xs font-light;
  } */

  /* Header End */

  /* About Start */

  .about-item {
    @apply px-40;
  }

  .about-item__logo-svg {
    @apply text-6xl;
  }

  .about-item__logo-container {
    @apply w-32 h-32;
  }

  .about-item__content-container {
    @apply ml-20 h-32;
  }
  .about-item__content-container h1 {
    @apply text-3xl;
  }

  .about-item__content-container p {
    @apply mt-6;
  }

  /* About End */
}

@tailwind utilities;
